<!DOCTYPE HTML>
<html lang="zh">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="./basic.css" />
    </head>
    <body>
        <h1 class="title">静态资源引入</h1>
        <h3>这是首页</h3>

        author: <%=author%>
        email: <%=email%>
    </body>
</html>